/*Style the body*/
body {
    background-color: #202124;
    display: block;
    text-align: center;   
}

/*Style header 1*/
h1 {
    margin-top: 20%;
    color: #ffffffff;
}

/*Style the button on agreement page*/
#understandButton {
    width: 10em;
    height: 4em;
    background-color: #343539;
    color: #ffffffff;
    border-style: solid;
    border-width: 1px;
    font-size: 28px;
}

/*Style the button on agreement page when hovered over*/
#understandButton:hover {
    background-color: #444549;
    transition: 0.2s;
}

/*Style the google logo*/
#logo {
    margin-top: 13%;
}

/*Style the searchbar*/
#searchBar {
    height: 50px;
    width: 50%;
    max-width: 600px;
    background-color: #202124;
    color: #ffffffff;
    padding-left: 2%;
    margin: 2em;
    border-style: solid;
    border-width: 1px;
    border-radius: 28px;
    border-color: #646464ff;
    font-size: 16px;
}

/*Style the searchbar when hovered over*/
#searchBar:hover {
    background-color: #303134;
    border-color: #848484;
    transition: 0.4s;
}

/*Style the cat image*/
#angry {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

/*Style the buttons on google page*/
.buttons {
    border-radius: 4px;
    margin-left: 1em;
    height: 35px;
    width: 125px;
    background-color: #343539;
    border: none;
    color: #ffffff;
}

/*Style the buttons on googlepage when hovered over*/
.buttons:hover {
    background-color: #444549;
    transition: 0.2s;
}