body {
    background-color: #202124;
    display: block;
    text-align: center;   
}

h1 {
    margin-top: 20%;
    color: #ffffffff;
}

#understandButton {
    width: 10em;
    height: 4em;
    background-color: #343539;
    color: #ffffffff;
    border-style: solid;
    border-width: 1px;
    font-size: 28px;
}

#understandButton:hover {
    background-color: #444549;
    transition: 0.2s;
}

#logo {
    margin-top: 13%;
}

#searchBar {
    height: 50px;
    width: 50%;
    max-width: 600px;
    background-color: #202124;
    color: #ffffffff;
    padding-left: 2%;
    margin: 2em;
    border-style: solid;
    border-width: 1px;
    border-radius: 28px;
    border-color: #646464ff;
    font-size: 16px;
}

#searchBar:hover {
    background-color: #303134;
    border-color: #848484;
    transition: 0.4s;
}

#angry {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.buttons {
    border-radius: 4px;
    margin-left: 1em;
    height: 35px;
    width: 125px;
    background-color: #343539;
    border: none;
    color: #ffffff;
}

.buttons:hover {
    background-color: #444549;
    transition: 0.2s;
}